<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col">
      <h1> Công ty TNHH 4 thành viên B-Đ-H-L </h1>
    </div>
  </div>

  <div class="row no-gutters">

    <div class="col">
      <p>Chi nhánh: {{branch.description}}</p>
      <div class="address">
        <p>Số điện thoại: {{branch.phoneNumber}}</p>
        <p>Email: quanly.storemanagement@gmail.com</p>
        <p>Địa chỉ: {{branch.address}}</p>
      </div>
    </div>
  </div>

  <div class="row no-gutters items-group">
    <div class="col-xs-12 col-md-12" >
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th >Tên sản phẩm</th>
            <th>Đơn giá</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
          </tr>
          <tr
            *ngFor="let item of itemsAsync | async">
            <td>{{ item.productName }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price * item.quantity}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <h4>Tổng tiền thanh toán: {{order ? order.totalPrice : 0}}VNĐ</h4>
  <br>
  <p>Cảm ơn quý khách đã sử dụng dịch vụ của chúng tôi!</p>

