<!-- <div class="container-fluid">
  <div class="row no-gutters">
    <div class="col">
      <h1> Công ty TNHH 4 thành viên B-Đ-H-L </h1>
    </div>
  </div>

  <div class="row no-gutters">

    <div class="col">
      <p>0999999999</p>
      <div class="address">
        <p>quanly.storemanagement@gmail.com</p>
        <p>1234 Nguyễn Lương Bằng</p>
      </div>
    </div>
  </div>

  <div class="row no-gutters items-group">
    <div class="col-xs-12 col-md-12" >
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th style="width: 5%">Id</th>
            <th>Tên sản phẩm</th>
            <th>Đơn giá</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
          </tr>
          <tr
            *ngFor="let item of itemsAsync | async">
            <td>{{ item.id }}</td>
            <td>{{ item.productName }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price * item.quantity}}</td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>

  <div class="row no-gutters items-group">
    <div class="col-3 label">
      <p>Equipamento:</p>
      <p>Cor:</p>
      <p>Serial:</p>
      <p>Problema:</p>
      <p>Observações:</p>
    </div>

    <div class="col-9">
      <p>Telemóvel > Apple > Iphone 6</p>
      <p>Cinza</p>
      <p>appl2015ewfwejuk23423</p>
      <p>Não arranca</p>
      <p>codigo: 1798 - tem de ficar pronto até dia 12/02/2019</p>
    </div>
  </div>

  <div class="row no-gutters items-group">
    <div class="col">
      <p class="label">Condições Gerais:</p>
      <ul class="disclaimer">
        <li>Prazo para levantar 90 dias</li>
        <li>Garantia 90 dias</li>
        <li>Esta assistência só é entregue a quem apresentar este documento</li>
        <li>O preço acresce 10% a cada 30 dias após fim do prazo de levantamento (taxa de conservação)</li>
        <li>Os dados do cliente, acima mencionados, ficam registados na N Reparações apenas para efeitos de comunicação
          em relação às suas assistências e facturação
        </li>
      </ul>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col">
      <p class="disclaimer signature-field">Declaro que li e concordo com o disposto neste documento em 03/02/2019</p>
    </div>
  </div>
</div> -->


<div class="row">
  <div class="col-xs-12 col-md-12">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th style="width: 5%">Id</th>
          <th>Tên sản phẩm</th>
          <th>Đơn giá</th>
          <th>Số lượng</th>
          <th>Thành tiền</th>
        </tr>
        <tr
          *ngFor="let item of itemsAsync | async">
          <td>{{ item.id }}</td>
          <td>{{ item.productName }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.price * item.quantity}}</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-success" [disabled] = "flag" (click)="print()">Ok</button>
  </div>
</div>
