<ngx-loading-bar [height]="'5px'" [color]="'#FFFF66'"></ngx-loading-bar>
<div class="row">
  <div class="col-sm-6">
    <select  class="form-control" (change)="selectStatistical($event.target.value)" (onClinck) = "selectStatistical($event.target.value)">
      <!-- <option *ngFor="let item of itemsProduct | async" value={{item.id}}>{{item.name}}</option> -->
      <option value="1">Thống kê nhân viên</option>
      <option value="2">Thống kê khách hàng</option>
      <option value="3">Thống kê sản phẩm bán ra</option>
      <option value="4">Thống kê sản phẩm sắp hết</option>
    </select>
  </div>
</div>


<app-statistical-customer *ngIf="flag == 2"></app-statistical-customer>
<app-statistical-staff *ngIf="flag == 1"></app-statistical-staff>
<app-statistical-product *ngIf="flag == 3"></app-statistical-product>
<app-remain-product *ngIf="flag == 4"></app-remain-product>

