<ngx-loading-bar [height]="'5px'" [color]="'#FFFF66'"></ngx-loading-bar>
<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Quản lý đơn hàng</h3>
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-sm-6">
        <form [formGroup]="addProductForm" (submit)="addProduct()" novalidate>
          <div class="col-sm-6" >
            <select class="form-control" formControlName="productId">
              <option *ngFor="let item of itemsProduct | async" value={{item.id}}>{{item.name}}</option>
            </select>
          </div>
          <div class="col-sm-4">
            <input type="number" class="form-control" formControlName="quantity" placeholder="Số lượng">
          </div>
          <div class="col-sm-2">
            <button class="btn btn-success" [disabled]="addProductForm.invalid">OK</button>
          </div>
        </form>
      </div>
      <div class="col-sm-6 pull-right">
        <button class="btn btn-primary pull-right" (click)="confirm()">Xác nhận</button>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th style="width: 5%">Id</th>
              <th>Tên sản phẩm</th>
              <th>Đơn giá</th>
              <th>Số lượng</th>
              <th>Thành tiền</th>
              <th style="text-align: center;">Hành động</th>
            </tr>
            <tr
              *ngFor="let item of itemsAsync">
              <td>{{ item.id }}</td>
              <td>{{ item.productName }}</td>
              <td>{{ item.price }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.price * item.quantity}}</td>
              <td style=" text-align: center;">
                <button class="btn btn-sm btn-danger" style="margin-right: 10px; margin-bottom: 5px;"
                  (click)="deleteProduct(item)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
            <tr style="background-color: rgb(21, 255, 0);">
              <td></td><td></td><td></td>
              <td>Thành tiền</td>
              <td > {{totalPrice}}</td>
            </tr>
          </tbody>

        </table>
        <!-- <div class="text-center">
          <pagination-controls class="custom-pagination" (pageChange)="getAllOrderDetail($event)" autoHide="true"
            responsive="true" previousLabel="Trước" nextLabel="Sau" directionLinks="true">
          </pagination-controls>
        </div> -->

      </div>
    </div>
  </div>
</div>

