<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="assets/img/user2-160x160.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <a routerLink="/users/edit/{{getId}}">
          <p>{{name}}</p>
        </a>
        <a routerLink="/users/edit/{{getId}}"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree" id="aaa">
      <li class="header">QUẢN LÝ CHI TIÊT</li>
      <li *ngIf="isAdmin">
        <a routerLink="/users">
          <i class="fa fa-id-card"></i> <span>Quản lý tài khoản</span>
        </a>
      </li>
      <li>
        <a routerLink="/orderproducts">
          <i class="fa fa-id-card"></i> <span>Quản lý đơn hàng</span>
        </a>
      </li>
      <li class="treeview">
        <a style="cursor: pointer;">
          <i class="fa fa-pie-chart"></i>
          <span>Quản lý sản phẩm</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink="/categories"><i class="fa fa-circle-o"></i>Quản lý loại hàng</a></li>
          <li><a routerLink="/suppliers"><i class="fa fa-circle-o"></i>Quản lý nhà cung cấp</a></li>
          <li><a routerLink="/products"><i class="fa fa-circle-o"></i>Quản lý sản phẩm</a></li>
          <li><a routerLink="/pictures"><i class="fa fa-circle-o"></i>Quản lý hình ảnh</a></li>
        </ul>
      </li>

      <li class="treeview">
        <a style="cursor: pointer;">
          <i class="fa fa-pie-chart"></i>
          <span>Quản lý chi nhánh</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink="/branches"><i class="fa fa-circle-o"></i>Quản lý chi nhánh</a></li>
          <li><a routerLink="/branchproducts"><i class="fa fa-circle-o"></i>Sản phẩm</a></li>
        </ul>
      </li>

      <li *ngIf="isAdmin || isStaffManager" class="treeview">
        <a style="cursor: pointer;">
          <i class="fa fa-pie-chart"></i>
          <span>Thống kê</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink="/charts"><i class="fa fa-circle-o"></i>Thống kê giá</a></li>
          <li><a routerLink="/statistical"><i class="fa fa-circle-o"></i>Thống kê khác</a></li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
