<div class="box box-primary">

    <div class="box-header with-border">
      <h3 class="box-title">Thêm mới</h3>
    </div>
  
    <form [formGroup]="addOrderForm" (submit)="addOrder()" novalidate>
      <div class="box-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Nhân viên</label>
              <select class="form-control" formControlName="staffIfd" [ngClass]="{ 'is-invalid': f.select.errors }">
                <option value="">Choose your Staff</option>
                <option *ngFor="let user of users | async" value={{user.id}}>{{user.name}}</option>
              </select>
            </div>        
            <div class="form-group">
              <label>Khách hàng</label>
              <select class="form-control" formControlName="customerId" [ngClass]="{ 'is-invalid': f.select.errors }">
                <option value="">Choose your Customer</option>
                <option *ngFor="let user of users | async" value={{user.id}}>{{user.name}}</option>
              </select>
            </div>                    
            <div class="form-group">
              <label>OrderDate</label>
              <input type="text" bsDatepicker class="form-control" formControlName="OrderDate" placeholder="OrderDate"
                [ngClass]="{ 'is-invalid': f.OrderDate.errors }">
                <app-control-messages [control]="addOrderForm.get('OrderDate')"></app-control-messages>
            </div>         
            <div class="form-group">
              <label>Code</label>
              <input type="text" class="form-control" formControlName="Code" placeholder="Code"
                [ngClass]="{ 'is-invalid': f.Code.errors }">
                <app-control-messages [control]="addOrderForm.get('Code')"></app-control-messages>
            </div>                
            <div class="form-group">
              <label>totalPrice</label>
              <input type="text" class="form-control" formControlName="totalPrice" placeholder="text"
                [ngClass]="{ 'is-invalid': f.totalPrice.errors }">
                <app-control-messages [control]="addOrderForm.get('totalPrice')"></app-control-messages>
            </div>
            </div>
        </div>
      </div>
      <div class="box-footer text-center">
        <button [routerLink]="['/orders']" class="btn btn-default">Hủy</button>
        <button type="submit" [disabled]="addOrderForm.invalid" class="btn btn-success">Lưu</button>
      </div>
    </form>
  
  </div>
  