<div class="box box-primary">

  <div class="box-header with-border">
    <h3 class="box-title">Thêm mới</h3>
  </div>

  <form [formGroup]="addPictureForm" (submit)="addPicture()" novalidate>
    <div class="box-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Tên sản phẩm</label>
            <select class="form-control" formControlName="productId" [ngClass]="{ 'is-invalid': f.productId.errors }">
              <option value="">Choose your Product</option>
              <option *ngFor="let product of products | async" value={{product.id}}>{{product.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Đường dẫn</label>
            <!-- <input type="text" class="form-control" formControlName="imageUrl" placeholder="Đường dẫn"
              [ngClass]="{ 'is-invalid': f.imageUrl.errors }"> -->
            <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
              (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
              <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                Thả hình ảnh vào đây
                <button type="button" (click)="openFileSelector()">Browse Files</button>
              </ng-template>
            </ngx-file-drop>
            <div class="upload-table">
              <table class="table">
                <thead>
                  <tr>
                    <th>Name</th>
                  </tr>
                </thead>
                <tbody class="upload-name-style">
                  <tr *ngFor="let item of files; let i=index">
                    <td><strong>{{ item.relativePath }}</strong></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="box-footer text-center">
      <button [routerLink]="['/products']" class="btn btn-default">Hủy</button>
      <button type="submit" [disabled]="addPictureForm.invalid" class="btn btn-success">Lưu</button>
    </div>
  </form>

</div>
