<ngx-loading-bar [height]="'5px'" [color]="'#FFFF66'"></ngx-loading-bar>
<br>
<br>
<div class="box box-primary">
  <div class="box-header with-border">
      <h3 class="box-title">Thống kê khách hàng mua hàng</h3>
  </div>
  <div class="box-body">
      <div class="row">
          <div class="col-sm-8">
              <div class="input-group">
                  <span class="input-group-btn">
                      <button class="btn btn-primary" type="button" (click)="export()">
                          Export
                      </button>
                  </span>
              </div>
          </div>
      </div>
      <br />
      <div class="row">
          <div class="col-xs-12 col-md-12">
              <table class="table table-bordered">
                  <tbody>
                      <tr>
                          <th style="width: 5%">Id</th>
                          <th>Tên đăng nhập</th>
                          <th>Họ và tên</th>
                          <th>Email</th>
                          <th>Số điện thoại</th>
                          <th>Tổng tiền</th>
                      </tr>
                      <tr
                          *ngFor="let item of itemsAsync | async | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: total }">
                          <td>{{ item.id }}</td>
                          <td>{{ item.username }}</td>
                          <td>{{ item.name }}</td>
                          <td>{{ item.email }}</td>
                          <td>{{ item.phoneNumber }}</td>
                          <td>{{ item.totalPrice }}</td>
                      </tr>
                  </tbody>
              </table>
              <div class="text-center">
                <pagination-controls class="custom-pagination" (pageChange)="getAllCustomers($event)" autoHide="true"
                        responsive="true" previousLabel="Trước" nextLabel="Sau" directionLinks="true">
                    </pagination-controls>
              </div>
          </div>
      </div>
  </div>
</div>

